# dependencies
node_modules/

# builds
dist/
build/
.next/
.netlify/
coverage/

# env and secrets
.env
.env.*
!.env.example

# editors and OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
